@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.max-w-8xl {
  max-width: 88rem;
}

.ql-toolbar {
    border-top-left-radius: 0.25rem; /* 4px */
    border-top-right-radius: 0.25rem; /* 4px */
    border-color:#e5e7eb!important;
}

.ql-container {
  border-bottom-left-radius: 0.25rem; /* 4px */
  border-bottom-right-radius: 0.25rem; /* 4px */
  background-color:#FFF;
  border-color:#e5e7eb!important;
}

.ql-editor {
  min-height:200px;
}