@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 15px
}

.radial-gradient {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background: #9b59b6;
  background: 
    radial-gradient(
     at center, #3498db, #9b59b6
    );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.max-w-8xl {
  max-width: 88rem;
}

.ql-toolbar {
    border-top-left-radius: 0.25rem; /* 4px */
    border-top-right-radius: 0.25rem; /* 4px */
    border-color:#e5e7eb!important;
}

.ql-container {
  border-bottom-left-radius: 0.25rem; /* 4px */
  border-bottom-right-radius: 0.25rem; /* 4px */
  background-color:#FFF;
  border-color:#e5e7eb!important;
}

.ql-editor {
  min-height:200px;
}